<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">AbDev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenu Principal -->
<div class="content">
  <div class="container">
    <h2 class="text-center">Bienvenue sur notre site web</h2>
    <p class="text-center">Ici, vous trouverez des informations sur nos services en développement web.</p>
    
  </div>
</div>
<app-article></app-article>

<!-- Footer -->
<footer>
  <div class="container">
    <p>&copy; 2024 AbDev. Tous droits réservés.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" class="text-white">Confidentialité</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">Conditions d'utilisation</a></li>
    </ul>
  </div>
</footer>